.data-description-container {
  flex: 1;
  padding: 20px;
  background-color: #d3d5d6; /* light grey */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(23, 201, 201, 0.507);
  margin-bottom: 20px;
}

.data-description-container h2 {
  color: #0984e3; /* baby blue */
}

.data-description-container ul {
  list-style-type: disc;
  padding-left: 20px;
}

.data-description-container a {
  color: #0984e3; /* baby blue */
  text-decoration: none;
}

.data-description-container a:hover {
  text-decoration: underline;
}
